* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.hidden {
  display: none !important;
}
/* header */
@media screen and (max-width: 600px) {
  .menu__btn {
    display: flex !important;
  }
  .header {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
  }
  .header__top-content {
    justify-content: space-around;
    position: relative;
  }
  .header__logo {
    width: 25%;
    margin: 0 !important;
    background: url("../img/treangle.svg") center center/contain no-repeat !important;
  }
  .header__nav {
    order: -1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    display: none !important;
  }
  .header__icons-group {
    margin: 0 !important;
    display: flex;
    width: 24px !important;
    justify-content: center !important;
    align-items: center;
  }
  .header__cart {
    display: none;
  }
  .header__search {
    margin: 0;
  }
  .header__main-content .main-content__slider-btn:first-of-type {
    left: 0 !important;
  }
  .header__main-content .main-content__slider-btn:last-of-type {
    right: 0 !important;
  }
  .header__main-content .main-content__center {
    width: 60% !important;
  }
  .header__main-content .main-content__center .center__title {
    font-size: 26px !important;
    margin-bottom: 15px !important;
  }
  .header__main-content .main-content__center .center__title .title__small {
    font-size: 22px !important;
    line-height: 1.2 !important;
    margin-bottom: 5px !important;
  }
  .main .posts__box {
    justify-content: space-around !important;
  }
  .main .posts__item {
    margin-top: 25px !important;
  }
  .footer__top .top__wrapper {
    justify-content: space-around !important;
  }
}
@media screen and (max-width: 1920px) and (min-width: 600px) {
  .header__main-content .main-content__slider-btn:first-of-type {
    left: 0 !important;
  }
  .header__main-content .main-content__slider-btn:last-of-type {
    right: 0 !important;
  }
  .main .posts__box {
    justify-content: space-around !important;
  }
  .main .posts__item {
    margin-top: 25px !important;
  }
  .footer__top .top__wrapper {
    justify-content: space-around !important;
  }
}
#menu-toggle {
  opacity: 0;
  display: none;
  order: -3;
}
#menu-toggle:checked ~ .header__nav > .nav__item > .nav__link {
  font-size: 20px !important;
}
#menu-toggle:checked ~ .header__nav {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50vh;
  left: 0;
  margin-bottom: 0 !important;
  transform: translateY(-50%);
  width: 100%;
  height: calc(70vh - 10px);
}
#menu-toggle:checked + .menu__btn .menu__btn::before,
.menu__btn::after {
  position: absolute !important;
  top: 20px;
  transform: translateY(-50%);
}
#menu-toggle:checked + .menu__btn::before {
  transform: rotate(-45deg) translateX(-2.5%);
}
#menu-toggle:checked + .menu__btn::after {
  transform: rotate(45deg) translateX(-2.5%);
}
#menu-toggle:checked + .menu__btn > .btn__span {
  position: absolute;
  display: none;
}
.menu__btn {
  order: -2;
  width: 40px;
  height: 40px;
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease !important;
}
.menu__btn::before {
  content: '';
  display: block;
  height: 4px;
  width: 40px;
  background: #ccc;
  transition: all 0.3s ease !important;
}
.menu__btn::after {
  content: '';
  width: 40px;
  display: block;
  height: 4px;
  background: #ccc;
  transition: all 0.3s ease !important;
}
.btn__span {
  width: 40px;
  height: 4px;
  transition: all 0.3s ease !important;
  display: block;
  background: #ccc;
}
.header {
  padding: 30px 0 50px 0;
  height: 100vh;
  background: url("../img/bg_header.jpg") center center/cover no-repeat;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 80px);
}
.header__top-content {
  display: flex;
  align-items: center;
  width: 100%;
}
.header__logo {
  display: block;
  width: 184px;
  height: 55px;
  background: url("../img/Logo.svg") center center/contain no-repeat;
  margin-right: auto;
}
.header__nav {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.header__icons-group {
  display: flex;
  width: 72px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 55px;
}
.header__icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.header__cart {
  background: url("../img/icon_cart.svg") center center/contain no-repeat;
}
.header__search {
  background: url("../img/icon_search.svg") center center/contain no-repeat;
}
.header .nav__link {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.header .nav__link:hover {
  color: #c7b299;
}
.header__main-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .main-content__slider-btn {
  cursor: pointer;
  position: absolute;
}
.header .main-content__slider-btn:first-of-type {
  left: -150px;
}
.header .main-content__slider-btn:last-of-type {
  transform: scale(-1);
  right: -150px;
}
.header .main-content__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.header .main-content__center .center__description {
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.header .main-content__center .center__btn {
  padding: 20px 40px;
  outline: none;
  border: none;
  cursor: pointer;
  background: #988574;
  border-radius: 3px;
  font-family: Roboto;
  font-size: 14px;
  color: #fff;
}
.header .main-content__center .center__title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}
.header .main-content__center .center__title .title__small {
  display: block;
  margin-right: auto;
  font-family: Raleway;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  text-align: center;
}
.header__bottom-buttons {
  display: flex;
  width: 90px;
  justify-content: space-between;
  align-items: center;
}
.header__bottom-buttons .bottom-buttons__btn {
  width: 10px;
  height: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s, border 0.3s, background 0.3s ease;
  background: rgba(255,255,255,0.5);
}
.header__bottom-buttons .bottom-buttons__btn:hover {
  transform: scale(1.5);
  border: 1px solid #d3c1ad;
  background: none;
}
/* header */
/* main */
@media screen and (max-width: 1200px) {
  .main .services__wrapper {
    justify-content: space-around !important;
  }
  .main .services__item {
    margin-bottom: 25px !important;
  }
  .main .wordpress__wrapper {
    justify-content: space-around !important;
  }
  .main .projects__button-case {
    justify-content: space-around !important;
  }
  .main .projects__button-case .button-case__button {
    margin-bottom: 15px !important;
  }
  .main .projects__item-box {
    justify-content: space-around !important;
  }
}
.main {
  width: 100%;
}
.main .services {
  padding: 90px 0;
}
.main .services__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-basis: 270px;
  flex-wrap: wrap;
}
.main .services__item {
  width: 270px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.main .services__item .item__img {
  display: block;
  margin-bottom: 30px;
  fill: #555;
  transition: fill 0.3s ease;
}
.main .services__item .item__title {
  font-family: Raleway;
  font-weight: 600;
  font-size: 22px;
  color: #555;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}
.main .services__item .item__description {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #000;
}
.main .services__item::after {
  content: '';
  width: 70px;
  height: 3px;
  display: block;
  margin-top: 30px;
  background: #f1eee9;
  transition: background 0.3s ease;
}
.main .services__item:hover .item__img {
  fill: #c7b299;
}
.main .services__item:hover .item__title {
  color: #c7b299;
}
.main .services__item:hover::after {
  background: #c7b299;
}
.main .waxom {
  padding: 80px 0 0 0;
  background: #fbfaf8;
}
.main .waxom__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .waxom__title {
  font-family: Raleway;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}
.main .waxom__description {
  width: 55%;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #8c8c8c;
  margin-bottom: 40px;
}
.main .waxom__img {
  display: block;
  width: 100%;
}
.main .wordpress {
  padding: 45px 0;
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211b19 0%, #4e3326 100%);
}
.main .wordpress__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.main .wordpress__text-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main .wordpress__text-content .text-content__title {
  font-family: Raleway;
  font-weight: normal;
  font-size: 28px;
  color: #fff;
  margin-bottom: 5px;
}
.main .wordpress__text-content .text-content__description {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 18px;
  color: #615855;
}
.main .wordpress__special {
  color: #c7b299;
}
.main .wordpress__button {
  padding: 20px 40px;
  outline: none;
  border: none;
  background: #988574;
  font-family: Roboto;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.main .projects {
  padding: 60px 0 30px 0;
}
.main .projects__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .projects__title {
  font-family: Raleway;
  font-weight: 600;
  font-size: 30px;
  color: #555;
  margin-bottom: 15px;
}
.main .projects__description {
  font-family: Montserrat;
  width: 60%;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  font-size: 16px;
  color: #8c8c8c;
  margin-bottom: 30px;
}
.main .projects__button-case {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 70px;
  flex-wrap: wrap;
}
.main .projects__button-case .button-case__button {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  color: #8c8c8c;
  outline: none;
  padding: 5px 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s ease;
}
.main .projects__button-case .button-case__button:hover {
  background: #998575;
  color: #fff;
}
.main .projects__item-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.main .projects__item:nth-of-type(-n + 3) {
  margin-bottom: 70px;
}
.main .projects__item {
  width: 370px;
  cursor: pointer;
}
.main .projects__item .item__img {
  display: block;
  width: 100%;
}
.main .projects__item .item__text-box {
  padding: 25px;
  background: #fbfaf8;
  position: relative;
  transition: background 0.3s ease;
}
.main .projects__item .item__text-box .text-box__title {
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  color: #c7b299;
  transition: color 0.3s ease;
}
.main .projects__item .item__text-box .text-box__description {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  color: #d1d1d1;
  transition: color 0.3s ease;
}
.main .projects__item .item__text-box::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 14px;
  display: block;
  border-style: solid;
  border-width: 0 15px 10px 15px;
  border-color: transparent transparent #fbfaf8 transparent;
  transition: border-color 0.3s ease;
}
.main .projects__item:hover .text-box__title {
  color: #fff;
}
.main .projects__item:hover .item__text-box {
  background: #352f2d;
}
.main .projects__item:hover .text-box__description {
  color: #c7b299;
}
.main .projects__item:hover .item__text-box::before {
  border-color: transparent transparent #352f2d transparent;
}
.main .projects__button {
  padding: 20px 45px;
  outline: none;
  font-family: Roboto;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background: #988574;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.main .video {
  width: 100%;
  height: 500px;
  display: block;
  outline: none;
}
.main .mobile {
  padding: 80px 0 0 0;
}
.main .mobile__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.main .mobile__img {
  display: block;
  margin-right: 64px;
}
.main .mobile__content {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.main .mobile__content .content__title {
  font-family: Raleway;
  font-weight: 600;
  font-size: 30px;
  color: #555;
  margin-bottom: 20px;
}
.main .mobile__content .content__description {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  margin-bottom: 50px;
}
.main .mobile__content .content__list {
  list-style-type: none;
  margin-left: 64px;
}
.main .mobile__content .content__list .list__item {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  color: #8c8c8c;
  margin-bottom: 10px;
  line-height: 21px;
  display: inline-block;
  cursor: pointer;
}
.main .mobile__content .content__list .list__item::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;
  background: url("../img/circle_arrow.svg") center center/contain no-repeat;
  margin-right: 8px;
}
.main .stats {
  padding: 35px 0;
  background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211b19 0%, #4e3326 100%);
}
.main .stats__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.main .stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}
.main .stats__item .item__img {
  display: block;
  margin-bottom: 5px;
}
.main .stats__item .item__content {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.main .stats__item .item__content .content__num {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 48px;
  color: #fff;
  margin-bottom: 5px;
}
.main .stats__item .item__content .content__description {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  color: #c7b299;
}
.main .stats__item::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  margin: 0 auto;
  background: #fff;
  margin-top: 15px;
}
.main .posts {
  padding: 100px 0 40px 0;
}
.main .posts__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .posts__title {
  font-family: Raleway;
  font-weight: 600;
  font-size: 30px;
  color: #555;
  margin-bottom: 20px;
}
.main .posts__description {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  margin-bottom: 30px;
  width: 60%;
  color: #8c8c8c;
}
.main .posts__box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.main .posts__item {
  display: flex;
  width: 370px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.main .posts__item .item__img {
  display: block;
}
.main .posts__item .item__content {
  padding: 30px 25px;
  border: 1px solid #b3b3b3;
  border-top: none;
  transition: background 0.3s, border-color 0.3s ease;
}
.main .posts__item .item__content .content__title {
  font-family: Raleway;
  font-weight: 500;
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}
.main .posts__item .item__content .content__description {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}
.main .posts__item .item__content .content__read-more {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  color: #c7b299;
  display: inline-block;
}
.main .posts__item .item__content .content__read-more .read-more__icon {
  display: inline-block;
  margin-left: 8px;
}
.main .posts__item:hover .item__content {
  background: #352f2d !important;
  border-color: #352f2d !important;
}
.main .posts__item:hover .content__title {
  color: #c7b299 !important;
}
.main .posts__item:hover .content__description {
  color: #fff !important;
}
.main .posts__button-box {
  display: flex;
  align-items: center;
  margin-top: 55px;
}
.main .posts__button-box .button-box__button {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: block;
  transition: fill 0.3s ease;
}
.main .posts__button-box .button-box__button:first-of-type {
  transform: scale(-1);
  margin-right: 20px;
}
.main .posts__button-box .button-box__button:hover {
  fill: #c7b299 !important;
}
.main .partners {
  padding: 140px 0;
  background: url("../img/bg_partners.jpg") center center/cover no-repeat;
}
.main .partners__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.main .partners__img {
  display: flex;
  width: 100%;
}
/* main */
/* footer */
.blue {
  color: #00bff3;
}
.footer__top {
  padding: 75px 0 120px 0;
  background: #191919;
  width: 100%;
}
.footer__top .top__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__top .top__item {
  width: 270px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.footer__top .top__item .item__title {
  font-family: Raleway;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  margin-bottom: 24px;
}
.footer__top .top__item .item__description {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
  transition: color 0.3s ease;
}
.footer__top .top__item .item__description .description__date {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
  color: #363636;
  margin-bottom: 5px;
  display: block;
  transition: color 0.3s ease;
}
.footer__top .top__item .item__description:not(:last-of-type)::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #242424;
  margin-top: 15px;
}
.footer__top .top__item .item__description:hover {
  color: #c7b299;
}
.footer__top .top__item .item__description:hover .description__date {
  color: #fff;
}
.footer__top .top__item .item__img {
  display: block;
  width: 70%;
  margin-bottom: 15px;
}
.footer__top .top__item .item__read-more {
  font-family: Montserrat;
  font-size: 14px;
  color: #d1d1d1;
  display: inline-block;
}
.footer__top .top__item .item__read-more::after {
  content: '';
  display: inline-block;
  margin-left: 8px;
  width: 5px;
  height: 7px;
  background: url("../img/read_more_icon.svg") center center/contain no-repeat;
}
.footer__top .top__item:not(:first-of-type) {
  margin-top: 25px;
}
.footer__top .top__widget {
  display: block;
}
.footer__bottom {
  padding: 60px 0 40px 0;
  background: #101010;
}
.footer__bottom .bottom__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer__bottom .bottom__list .list__item {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 13px;
  transition: color 0.3s ease;
  color: #555;
  padding: 0 10px;
  cursor: pointer;
}
.footer__bottom .bottom__list .list__item:not(:last-of-type) {
  border-right: 1px solid #1a1a1a;
}
.footer__bottom .bottom__list .list__item:hover {
  color: #baa78f;
}
/* footer */
